%chapterTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71px;
  text-transform: uppercase;
  background-color: #285569;
  color: #fff;
  font-weight: 100;
  font-size: 19px;
}