.menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  height: 100%;
  background-color: #fff;
  cursor: pointer;

  @media (min-width: 750px) {
    width: 133px;
  }

  @media (min-width: 1024px) {
    display: none;
  }

  &__burger {
    width: 32px;
    height: 4px;
    background-color: #265869;
    border-radius: 5px;

    @media (min-width: 750px) {
      width: 63px;
      height: 8px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 32px;
      height: 4px;
      background-color: #265869;
      border-radius: 5px;
      transform: translateY(-9px);

      @media (min-width: 750px) {
        width: 63px;
        height: 8px;
        transform: translateY(-18px);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 32px;
      height: 4px;
      background-color: #265869;
      border-radius: 5px;
      transform: translateY(9px);

      @media (min-width: 750px) {
        width: 63px;
        height: 8px;
        transform: translateY(18px);
      }
    }
  }
}

.menu-btn.open {
  background-color: #265869;
}

.menu-btn.open .menu-btn__burger {
  background-color: #fff;
}

.menu-btn.open .menu-btn__burger::before {
  background-color: #fff;
}

.menu-btn.open .menu-btn__burger::after {
  background-color: #fff;
}