@import "reset";
@import "extends";

body {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
}

.container {
  width: 1356px;
  margin: 0 auto;
}

@import "header";
@import "menu-btn";
@import "top";
@import "about";
@import "business";
@import "technology";
@import "arrow";