.technology {
  padding-bottom: 89px;

  &__title {
    @extend %chapterTitle;
  }

  &__swiper {
    position: relative;
    display: flex;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 41px 25px;
  }

  &__illustration {
    width: 256px;
  }

  &__paragraph {
    @extend %paragraph;
  }

  &__dots-container {
    
  }
}